body{
    padding-top: 56px;
}

.home-header{
    background: url("../../images/home3.jpg");
    background-size: cover;
    height: 60vh;
}

.home-header-content{
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    height: 60vh;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
    padding: 40px;
}

.intro-blog-header{
    border-bottom: 4px solid #ee7155;
    height: 60px !important;
    padding: 0 15px;
}

.home-latest-posts h1{
    border-bottom: 3px solid #CE9969;
    width: max-content;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.home-container{
    display: flex;
    align-items: flex-start;
}

.post-list{
    flex: 9;
}

.post-sidebar{
    flex: 3;
}

.go-to-all-posts{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.go-to-all-posts a{
    width: 300px;
    padding: 20px;
    background-color: #7E5E47 !important;
}
.go-to-all-posts a:hover{
    background-color: #8D4414 !important; 
}



/************************ Media Query (Responsive) **************************/

@media (min-width:100px) and (max-width:1000px) {
    .home-header{
        background: url("../../images/home3.jpg");
        background-size: 100% 100%;
        height: 30vh;
    }

    .home-header-content{
        height: 30vh;
        padding: 0px;
    }

    .home{
        display: flex;
        flex-direction: column;
    }

    .home-container{
        display: flex;
        flex-direction: column;
    }

    .post-sidebar{
        width: 80%;
        margin: auto;
    }
    
}

@media (min-width:1001px) and (max-width:1400px) {
    .home-header{
        background-size: 100% 100%;
    }
}

@media (min-width:1001px) and (max-width:1700px) {

}

@media (min-width:1001px) and (max-width:1400px) {

}